- name: foobar.thelab.ms
  hosts: foobar.thelab.ms
  tasks:
    - name: Write motd
      ansible.builtin.template:
        src: motd.j2
        dest: /etc/motd

    - name: Install packages
      package:
        name: ["podman", "wireguard"]
        state: present

    - name: Gen wireguard keys
      notify: ["Restart Wireguard"]
      ansible.builtin.command:
        cmd: /bin/sh -c 'wg genkey > /opt/wireguard-priv'
        creates: /opt/wireguard-priv

    - name: Retrieve Wireguard key
      ansible.builtin.slurp:
        src: /opt/wireguard-priv
      register: wgpriv

    - name: Write Wireguard config
      notify: ["Restart Wireguard"]
      ansible.builtin.template:
        src: "{{ playbook_dir }}/wireguard.conf"
        dest: /etc/wireguard/wg0.conf
        mode: 0600

    - name: Start Wireguard
      ansible.builtin.systemd:
        name: wg-quick@wg0
        enabled: true
        state: started
        daemon_reload: true

    - name: Create Podman network
      containers.podman.podman_network:
        name: thelab-overlay
        ip_range: 10.201.1.0/24
        subnet: 10.201.1.0/24
        gateway: 10.201.1.1

    - name: Copy Conway binary
      notify: ["Restart Conway"]
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../../conway/conway"
        dest: /usr/bin/conway
        owner: root
        group: root
        mode: "0755"

    - name: Create Conway directory
      ansible.builtin.file:
        path: /opt/conway
        state: directory

    - name: Create the Conway container unit
      notify: ["Restart Conway"]
      containers.podman.podman_container:
        name: conway
        image: ghcr.io/thelab-ms/infra/ubuntu:f9a343a
        state: quadlet
        workdir: /opt/conway
        net: thelab-overlay
        command:
          - /usr/bin/conway
        env_file: /etc/default/conway # contains secrets
        env:
          SELF_URL: "https://members.thelab.ms"
          GOOGLE_APPLICATION_CREDENTIALS: /opt/conway/google.json # populate with service account creds from gcloud api console
          CONWAY_EMAIL_FROM: "noreply-logins@thelab.ms"
          CONWAY_SPACE_HOST: "space.thelab.ms"
          CONWAY_DISCORD_PRINT_CHANNEL: "printing"
        volumes:
          - /usr/bin/conway:/usr/bin/conway
          - /opt/conway:/opt/conway
          - /etc/ssl:/etc/ssl
          - /usr/share/zoneinfo:/usr/share/zoneinfo
        publish:
          - "8080:8080"
        healthcheck: /usr/bin/conway healthcheck
        healthcheck_timeout: 4s
        healthcheck_interval: 10s
        healthcheck_failure_action: restart
        quadlet_options:
          - |
            [Service]
            Restart=always
            RestartSec=2
          - |
            [Install]
            WantedBy=default.target

    - name: Start Conway
      ansible.builtin.systemd:
        name: conway
        enabled: true
        state: started
        daemon_reload: true

    - name: Create Dokuwiki user
      ansible.builtin.user:
        name: dokuwiki
        comment: Dokuwiki Service
        uid: 1001

    - name: Create Dokuwiki media directory
      ansible.builtin.file:
        path: /opt/dokuwiki
        state: directory
        owner: 1001
        group: 1001

    - name: Create the Dokuwiki container unit
      notify: ["Restart Dokuwiki"]
      containers.podman.podman_container:
        name: dokuwiki
        image: docker.io/dokuwiki/dokuwiki:2024-02-06b
        state: quadlet
        user: 1001
        net: thelab-overlay
        volumes:
          - /opt/dokuwiki:/storage
        publish:
          - "8081:8080"
        quadlet_options:
          - |
            [Service]
            Restart=always
            RestartSec=2
          - |
            [Install]
            WantedBy=default.target

    - name: Start Dokuwiki
      ansible.builtin.systemd:
        name: dokuwiki
        enabled: true
        state: started
        daemon_reload: true

  handlers:
    - name: Restart Conway
      ansible.builtin.service:
        name: conway
        state: restarted

    - name: Restart Dokuwiki
      ansible.builtin.service:
        name: dokuwiki
        state: restarted

    - name: Restart Wireguard
      ansible.builtin.service:
        name: wg-quick@wg0
        state: restarted
