version: 0.15

mqtt:
  enabled: false

tls:
  enabled: false

auth:
  enabled: false

record:
  enabled: true
  retain:
    days: 5
    mode: all

detect:
  enabled: false

motion:
  enabled: false

review:
  alerts:
    labels: []

ffmpeg:
  hwaccel_args: preset-rpi-64-h265

cameras:
  Entry:
    ffmpeg:
      hwaccel_args: preset-rpi-64-h265
      inputs:
        - path: rtsp://admin:thelab.ms@10.200.2.9:554/cam/realmonitor?channel=1&subtype=1
          roles:
            - detect
        - path: rtsp://admin:thelab.ms@10.200.2.9:554/cam/realmonitor?channel=1&subtype=0
          roles:
            - record

  Woodshop:
    ffmpeg:
      hwaccel_args: preset-rpi-64-h265
      inputs:
        - path: rtsp://admin:thelab.ms@10.200.2.11:554/cam/realmonitor?channel=1&subtype=1
          roles:
            - detect
        - path: rtsp://admin:thelab.ms@10.200.2.11:554/cam/realmonitor?channel=1&subtype=0
          roles:
            - record

#   Crafting:
#     ffmpeg:
#       hwaccel_args: preset-rpi-64-h264
#       inputs:
#         - path: rtsp://10.200.2.16:554/Streaming/Channels/102
#           roles:
#             - detect
#         - path: rtsp://10.200.2.16:554/Streaming/Channels/101
#           roles:
#             - record

