# Provisioning notes:
# - Local-only password is "thelab.ms" in case all trusted ssh keys are lost
# - Use testing channel to get new enough version of Podman for quadlets
# - Nothing fancy about the image: just bookworm written to the SSD by the official RPI imager
# - Create /etc/rclone.conf with creds to access the "thelabbackups" Azure storage account

- name: labpi.thelab.ms
  hosts: labpi.thelab.ms
  handlers:
    - name: Restart Frigate
      ansible.builtin.service:
        name: frigate
        state: restarted
    - name: Restart Samba
      ansible.builtin.service:
        name: samba
        state: restarted
    - name: Restart helmetfs
      ansible.builtin.service:
        name: helmetfs
        state: restarted
  tasks:
    - name: Write motd
      ansible.builtin.template:
        src: motd.j2
        dest: /etc/motd

    - name: Install Podman
      package:
        name: "podman"
        state: present

    - name: Create Podman network
      containers.podman.podman_network:
        name: thelab-overlay
        ip_range: 10.200.100.0/24
        subnet: 10.200.100.0/24
        gateway: 10.200.100.1

    # -------------------------------------------- FRIGATE
    - name: Create Frigate media directory
      ansible.builtin.file:
        path: /opt/frigate
        state: directory

    - name: Create Frigate config directory
      ansible.builtin.file:
        path: /etc/frigate
        state: directory

    - name: Frigate nginx conf
      ansible.builtin.copy:
        src: frigate-nginx.conf
        dest: /etc/frigate-nginx.conf

    - name: Write Frigate config
      notify: ["Restart Frigate"]
      ansible.builtin.template:
        src: frigate-config.yaml.j2
        dest: /etc/frigate/config.yaml

    - name: Create the Frigate container unit
      notify: ["Restart Frigate"]
      containers.podman.podman_container:
        name: frigate
        image: ghcr.io/blakeblackshear/frigate:0.15.0
        state: quadlet
        net: thelab-overlay
        ip: 10.200.100.6
        cap_add:
          - CAP_NET_BIND_SERVICE
        device:
          - "/dev/video19:/dev/video19"
          - "/dev/video20:/dev/video20"
          - "/dev/video21:/dev/video21"
          - "/dev/video22:/dev/video22"
          - "/dev/video23:/dev/video23"
          - "/dev/video24:/dev/video24"
          - "/dev/video25:/dev/video25"
          - "/dev/video26:/dev/video26"
          - "/dev/video27:/dev/video27"
          - "/dev/video28:/dev/video28"
          - "/dev/video29:/dev/video29"
          - "/dev/video30:/dev/video30"
          - "/dev/video31:/dev/video31"
          - "/dev/video32:/dev/video32"
          - "/dev/video33:/dev/video33"
          - "/dev/video34:/dev/video34"
          - "/dev/video35:/dev/video35"
          - "/dev/video36:/dev/video36"
          - "/dev/video37:/dev/video37"
        privileged: true
        volumes:
          - /etc/frigate:/config
          - /opt/frigate:/media/frigate
          - /etc/frigate-nginx.conf:/usr/local/nginx/conf/nginx.conf
        mounts:
          - type=tmpfs,target=/tmp/cache,tmpfs-size=2000000000
        shm_size: "512mb"
        quadlet_options:
          - |
            [Service]
            Restart=always
            RestartSec=2
          - |
            [Install]
            WantedBy=default.target

    - name: Start Frigate
      ansible.builtin.systemd:
        name: frigate
        enabled: true
        state: started
        daemon_reload: true

    # -------------------------------------------- HELMETFS
    - name: Create helmetfs data directory
      ansible.builtin.file:
        path: /opt/helmetfs
        state: directory

    - name: Create the helmetfs container unit
      notify: ["Restart helmetfs"]
      containers.podman.podman_container:
        name: helmetfs
        image: ghcr.io/jveski/helmetfs:0.0.14
        state: quadlet
        net: thelab-overlay
        ip: 10.200.100.5
        cap_add:
          - CAP_NET_BIND_SERVICE
        workdir: /opt/helmetfs
        volumes:
          - /opt/helmetfs:/opt/helmetfs
          - /etc/rclone.conf:/root/.config/rclone/rclone.conf:ro
        command:
          - "-addr=:80"
          - "-rclone-remote=azureblob:helmetfs/"
          - "-rclone-bwlimit=30M"
        quadlet_options:
          - |
            [Service]
            Restart=always
            RestartSec=2
          - |
            [Install]
            WantedBy=default.target

    - name: Start helmetfs
      ansible.builtin.systemd:
        name: helmetfs
        enabled: true
        state: started
        daemon_reload: true
