# Provisioning notes:
# - Local-only password is "thelab.ms" in case all trusted ssh keys are lost
# - Use testing channel to get new enough version of Podman for quadlets
# - Nothing fancy about the image: just bookworm written to the SSD by the official RPI imager

- name: labpi.thelab.ms
  hosts: labpi.thelab.ms
  handlers:
    - name: Restart Frigate
      ansible.builtin.service:
        name: frigate
        state: restarted
    - name: Restart Samba
      ansible.builtin.service:
        name: samba
        state: restarted
  tasks:
    - name: Write motd
      ansible.builtin.template:
        src: motd.j2
        dest: /etc/motd

    - name: Install Podman
      package:
        name: "podman"
        state: present

    # -------------------------------------------- NAS
    - name: Create NAS directory
      ansible.builtin.file:
        path: /opt/nas
        state: directory

    - name: Write Samba config
      ansible.builtin.template:
        src: smb.conf
        dest: /etc/smb.conf

    - name: Create the Samba container unit
      notify: ["Restart Samba"]
      containers.podman.podman_container:
        name: samba
        image: ghcr.io/servercontainers/samba:latest
        state: quadlet
        ports:
          - "445:445"
          - "139:139"
        volumes:
          - /opt/nas:/shares/nas
          - /etc/smb.conf:/etc/samba/smb.conf
        quadlet_options:
          - |
            [Service]
            Restart=always
            RestartSec=2
          - |
            [Install]
            WantedBy=default.target

    - name: Start NAS
      ansible.builtin.systemd:
        name: samba
        enabled: true
        state: started
        daemon_reload: true

    # -------------------------------------------- FRIGATE
    - name: Create Frigate media directory
      ansible.builtin.file:
        path: /opt/frigate
        state: directory

    - name: Create Frigate config directory
      ansible.builtin.file:
        path: /etc/frigate
        state: directory

    - name: Write Frigate config
      notify: ["Restart Frigate"]
      ansible.builtin.template:
        src: frigate-config.yaml.j2
        dest: /etc/frigate/config.yaml

    - name: Create the Frigate container unit
      notify: ["Restart Frigate"]
      containers.podman.podman_container:
        name: frigate
        image: ghcr.io/blakeblackshear/frigate:0.15.0
        state: quadlet
        ports:
          - "80:5000"
        device:
          - "/dev/video19:/dev/video19"
          - "/dev/video20:/dev/video20"
          - "/dev/video21:/dev/video21"
          - "/dev/video22:/dev/video22"
          - "/dev/video23:/dev/video23"
          - "/dev/video24:/dev/video24"
          - "/dev/video25:/dev/video25"
          - "/dev/video26:/dev/video26"
          - "/dev/video27:/dev/video27"
          - "/dev/video28:/dev/video28"
          - "/dev/video29:/dev/video29"
          - "/dev/video30:/dev/video30"
          - "/dev/video31:/dev/video31"
          - "/dev/video32:/dev/video32"
          - "/dev/video33:/dev/video33"
          - "/dev/video34:/dev/video34"
          - "/dev/video35:/dev/video35"
          - "/dev/video36:/dev/video36"
          - "/dev/video37:/dev/video37"
        privileged: true
        volumes:
          - /etc/frigate:/config
          - /opt/frigate:/media/frigate
        mounts:
          - type=tmpfs,target=/tmp/cache,tmpfs-size=2000000000
        shm_size: "512mb"
        quadlet_options:
          - |
            [Service]
            Restart=always
            RestartSec=2
          - |
            [Install]
            WantedBy=default.target

    - name: Start Frigate
      ansible.builtin.systemd:
        name: frigate
        enabled: true
        state: started
        daemon_reload: true

