                                                                                                                                                                           
                                                                                                      bbbbbbbb                                                             
TTTTTTTTTTTTTTTTTTTTTTThhhhhhh                               LLLLLLLLLLL                              b::::::b                                                             
T:::::::::::::::::::::Th:::::h                               L:::::::::L                              b::::::b                                                             
T:::::::::::::::::::::Th:::::h                               L:::::::::L                              b::::::b                                                             
T:::::TT:::::::TT:::::Th:::::h                               LL:::::::LL                               b:::::b                                                             
TTTTTT  T:::::T  TTTTTT h::::h hhhhh           eeeeeeeeeeee    L:::::L                 aaaaaaaaaaaaa   b:::::bbbbbbbbb               mmmmmmm    mmmmmmm       ssssssssss   
        T:::::T         h::::hh:::::hhh      ee::::::::::::ee  L:::::L                 a::::::::::::a  b::::::::::::::bb           mm:::::::m  m:::::::mm   ss::::::::::s  
        T:::::T         h::::::::::::::hh   e::::::eeeee:::::eeL:::::L                 aaaaaaaaa:::::a b::::::::::::::::b         m::::::::::mm::::::::::mss:::::::::::::s 
        T:::::T         h:::::::hhh::::::h e::::::e     e:::::eL:::::L                          a::::a b:::::bbbbb:::::::b        m::::::::::::::::::::::ms::::::ssss:::::s
        T:::::T         h::::::h   h::::::he:::::::eeeee::::::eL:::::L                   aaaaaaa:::::a b:::::b    b::::::b        m:::::mmm::::::mmm:::::m s:::::s  ssssss 
        T:::::T         h:::::h     h:::::he:::::::::::::::::e L:::::L                 aa::::::::::::a b:::::b     b:::::b        m::::m   m::::m   m::::m   s::::::s      
        T:::::T         h:::::h     h:::::he::::::eeeeeeeeeee  L:::::L                a::::aaaa::::::a b:::::b     b:::::b        m::::m   m::::m   m::::m      s::::::s   
        T:::::T         h:::::h     h:::::he:::::::e           L:::::L         LLLLLLa::::a    a:::::a b:::::b     b:::::b        m::::m   m::::m   m::::mssssss   s:::::s 
      TT:::::::TT       h:::::h     h:::::he::::::::e        LL:::::::LLLLLLLLL:::::La::::a    a:::::a b:::::bbbbbb::::::b        m::::m   m::::m   m::::ms:::::ssss::::::s
      T:::::::::T       h:::::h     h:::::h e::::::::eeeeeeeeL::::::::::::::::::::::La:::::aaaa::::::a b::::::::::::::::b  ...... m::::m   m::::m   m::::ms::::::::::::::s 
      T:::::::::T       h:::::h     h:::::h  ee:::::::::::::eL::::::::::::::::::::::L a::::::::::aa:::ab:::::::::::::::b   .::::. m::::m   m::::m   m::::m s:::::::::::ss  
      TTTTTTTTTTT       hhhhhhh     hhhhhhh    eeeeeeeeeeeeeeLLLLLLLLLLLLLLLLLLLLLLLL  aaaaaaaaaa  aaaabbbbbbbbbbbbbbbb    ...... mmmmmm   mmmmmm   mmmmmm  sssssssssss    
                                                                                                                                                                           
                                                                                                                                                                           
